{% extends 'base.html.twig' %}

{% block title %}Chapters
{% endblock %}

{% block body %}
	<turbo-frame id="chapter_content_frame">
		<div class="chapter_content">
			<div class="chapter_title">
				<h2>Chapitre :
					{{ chapter.title }}</h2>
			</div>
			<div class="chapter_inside">
				<p>{{ chapter.content }}</p>
			</div>
		</div>
	</turbo-frame>
{% endblock %}
