html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    /* retirer le css mis par défaut par firefox */
    margin: 0px;
    padding: 0px;
    /* insérer des règles pour les autres navigateur */
}

.inter_font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
}

body {
    background-color: #5584AC;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 258px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0; 
}

header {
    grid-column: 1;
    grid-row: 1;
    background-color: black;
}

footer {
    grid-column: 1;
    grid-row: 3;
    background-color: black;
}