<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}Bienvenue !{% endblock %}</title>

        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('/styles/app.css') }}">

        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>

    <body class="inter_font">
        {% block header %}
            <header></header>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            <footer></footer>
        {% endblock %}
    </body>
</html>
