
/* Global */
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter';
}

@font-face {
    font-family: 'Inter';
    src: url(../../assets/fonts/inter.ttf);
}

body {
    overflow: hidden;
    background-color: skyblue;
}
.container-main {
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* La barre */ 
.nav-bar {
    width: 100%;
    height: fit-content;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/* Les éléments de la barre */ 
.logo {
    padding: 5px 0 5px 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

/****** Les liens de navigation */
.nav {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
    .nav a {
        opacity: 0.5;
        color: white;
        text-decoration: none;
        font-weight: lighter;
    }
    .nav a:hover {
        opacity: 1;
    }
    .nav a.selected {
        opacity: 1;
    }


.end-nav {
    min-width: 215px;
    max-width: 100%;
    display: flex;
    padding-right: 50px;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    transition: 0.4s;
}
    .search-btn {
        display: flex;
        align-items: center;
        width: 40px;
        position: absolute;
        height: 100%;
    }
    .connect-btn {
        width: 120px;
        height: 35px;
        border: solid 2px #5584AC;
        position: absolute;
        right: 40px;
        border-radius: 5px;
        margin: 5px 0 5px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .connect-btn a {
        font-size: smaller;
        text-decoration: none;
        color: #5584AC;

    }

/* Les blocs */
.bloc-presentation {
    width: 100%;
    height: 280px;
    color: white;
}

.bloc-presentation:nth-child(1) {
    background-color: #5584AC;
    display: flex;
    overflow: hidden;
    position: relative;

}
.bloc-presentation:nth-child(1) div {
    gap: 20px;
}

.bloc-presentation:nth-child(1) img {
    position: absolute;
    bottom: -15px;
    right: 60px;
    height: 220px;

}



.bloc-presentation:nth-child(2) {
    background-color: black;
    display: flex;
    justify-content: center;
    height: fit-content;
}
.contents {
    display: flex;
    justify-content: center;
    width: 90%;
    gap: 50px;
    padding: 20px 0 20px 0;
}
.card {
    width: 25%;
    text-align: center;
}
.card p {
    margin-top: 5px;
    font-weight: 200;
}
.card img {
    width: 180px;
}

.bloc-presentation:nth-child(3) {
    height: fit-content;
    background-color: #5584AC;
}
.body {
    width: 100svw;
    height: 100%;
    position: static;
    overflow: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
}
.blocs {
    width: 100%;
    height: 100%;
}

.txts {
    display: flex;
    margin-left: 40px;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 60%;
}

.txts h3 {
    font-size: 1.75rem;
}

.more {
    width: 75%;
}

.more h5 {
    font-size: 0.8;
    font-weight: 500;
}

.btns {
    margin-top: 30px;
    display: flex;
    color: white;
}

.btn-candidature {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.282);
    padding: 5px;
    font-size: 0.7rem;
    text-align: center;
    display: flex;
    align-items: center;

}
.btn-candidature a {
    color: #5584AC;
}
.btn-decouverte {
    border: 1px solid white;
    font-weight: 500;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.7rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.139);
}
.btn-decouverte a {
    color: #ffffff;
}

.btns a {
    text-decoration: none;
}


/* Les images/icones */
.logo :nth-child(1) {
    height: 45px;
}
.logo :nth-child(2) {
    height: 15px;
}
.search-btn :nth-child(1){
    height: 30px;
}

/* Search bar */



/* .search-box {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    font-family: 'Signika';
    font-size: 1.2rem;
    position: relative;

} */

#search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    right: 18%;
    height: 35px;
    width: 40px;
    transition: 0.4s;
}
#text-bar {
    display: none;
    transition: 0.1s;
    pointer-events: none;
    margin-left: 3px;
    font-weight: lighter;
    margin-left: 40px;
}
#text-bar.on {
    display: flex;
    opacity: 1;
    width: fit-content;
    color: rgba(255, 255, 255, 0.333);
}

#search-toggler {
    position: absolute;
    transition: 0.4s;
    margin-left: 3px;
}
#search-bar.clicked {
    border: 2px solid rgba(255, 255, 255, 0.273);
    border-radius: 5px;
    width: 80%;
    right: 8%;
}
/* #search-toggler.clicked {
    transform: translateX(-50vw);
} */
.nav.off {
    opacity: 0;

}

.end-nav.on {
    width: 80%;
}







.search-bar.unfolded {
    background-color: rgb(255, 255, 255);
    width: 85%;

}

.search:focus {
    width: 85%;
}
.search-bar.focused {
    width: 85%;
    background-color: rgb(255, 255, 255);
}


#hover-toggle.unfolded {
    color: #b87bbf00;

}

/* Footer */
.bottom {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: 200;
}


.btn-up {
    position: absolute;
    padding: 10px;
    width: 20px;
    height: 30px;
    border-radius: 10px 10px 0 0;
    background-color: #5584AC;
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.caroussel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}

.caroussel>h4 {
    margin-bottom: 30px;
}

.container-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-reviews>p {
    padding: 2px;
}



.avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    border: white solid 7px;
    overflow: hidden;
    margin-bottom: 30px;
}
.avatar img{
    height: 100%;
}

.caroussel-btns {
    justify-content: center;
    display: flex;
    width: 100%;
    gap: 15px;
}

.caroussel-btns img {
    width: 30px;
    padding-bottom: 15px;

}